/*normalize.css*/
html {line-height: 1.15; /* 1 */-webkit-text-size-adjust: 100%; /* 2 */}body {  margin: 0;  }  main {    display: block;  }  h1 {    font-size: 2em;    margin: 0.67em 0;  }  hr {    box-sizing: content-box; /* 1 */    height: 0; /* 1 */    overflow: visible; /* 2 */  }  pre {    font-family: monospace, monospace; /* 1 */    font-size: 1em; /* 2 */  }  a {    background-color: transparent;  }  abbr[title] {    border-bottom: none; /* 1 */    text-decoration: underline; /* 2 */    text-decoration: underline dotted; /* 2 */  }  b,  strong {    font-weight: bolder;  }  code,  kbd,  samp {    font-family: monospace, monospace; /* 1 */    font-size: 1em; /* 2 */  }  small {    font-size: 80%;  }  sub,  sup {    font-size: 75%;    line-height: 0;    position: relative;    vertical-align: baseline;  }    sub {    bottom: -0.25em;  }    sup {    top: -0.5em;  }  img {    border-style: none;  }  button,  input,  optgroup,  select,  textarea {    font-family: inherit; /* 1 */    font-size: 100%; /* 1 */    line-height: 1.15; /* 1 */    margin: 0; /* 2 */  }  button,  input { /* 1 */    overflow: visible;  }  button,  select { /* 1 */    text-transform: none;  }  button,  [type="button"],  [type="reset"],  [type="submit"] {    -webkit-appearance: button;  }  button::-moz-focus-inner,  [type="button"]::-moz-focus-inner,  [type="reset"]::-moz-focus-inner,  [type="submit"]::-moz-focus-inner {    border-style: none;    padding: 0;  }  button:-moz-focusring,  [type="button"]:-moz-focusring,  [type="reset"]:-moz-focusring,  [type="submit"]:-moz-focusring {    outline: 1px dotted ButtonText;  }  fieldset {    padding: 0.35em 0.75em 0.625em;  }  legend {    box-sizing: border-box; /* 1 */    color: inherit; /* 2 */    display: table; /* 1 */    max-width: 100%; /* 1 */    padding: 0; /* 3 */    white-space: normal; /* 1 */  }  progress {    vertical-align: baseline;  }  textarea {    overflow: auto;  }  [type="checkbox"],  [type="radio"] {    box-sizing: border-box; /* 1 */    padding: 0; /* 2 */  }  [type="number"]::-webkit-inner-spin-button,  [type="number"]::-webkit-outer-spin-button {    height: auto;  }  [type="search"] {    -webkit-appearance: textfield; /* 1 */    outline-offset: -2px; /* 2 */  }  [type="search"]::-webkit-search-decoration {    -webkit-appearance: none;  }  ::-webkit-file-upload-button {    -webkit-appearance: button; /* 1 */    font: inherit; /* 2 */  }    details {    display: block;  }  summary {    display: list-item;  }  template {    display: none;  }  [hidden] {    display: none;  }
/*normalize.css*/
html{
    height: 100%;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr ;
    grid-template-rows: 1.5fr 7fr ;
}
.sidebar{
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: #047857;
    grid-column: 1;
    grid-row:1/ 4;
}
h1{
    display: flex;
    align-self: flex-start;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 img{
    width: 40px;
}
ul{
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.sidebar ul li{
    margin-bottom: 10px;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sidebar ul li img{
    height: 25px;
    margin-right: 15px;

}
.header{
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.1fr 0.5fr;
    grid-template-rows: 1fr 3fr ;
    background-color: #6ee7b7;
    grid-column: 2/4;
    grid-row: 1/2;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}
.header label{
    margin-left: 10px;
}
.header input{
    grid-column: span 2;
    margin: 8px;
    border: solid;
    border-width: 1px;
    outline-color: rgba(0, 255, 255, 0);
    border-radius: 5px;
    border-color: #047857;
}
.header label img{
    height: 25px;
    
}
.header .profils{
    display: flex;
    justify-content: end;
    align-items: center;
    justify-self: center;
    padding: 10px;
}
.header .profils p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header .profils img:nth-child(1){
    height: 25px;
    margin-left: 10px;
}
.header .profils img:nth-child(2){
    height: 40px;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
}
.header .bio{
    align-items: center;
    grid-column: 2;
    display: flex;
}
.header .bio div{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 20px;
}
.header .bio div p{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header .bio div p:nth-child(2){
    font-weight: 600;
    font-size: larger;
}
.header .bio img{
    width: 60px;
    height:60px;
    border-radius: 100%;
}
.header .btn{
    display: flex;
    grid-column: 4;
    gap: 15px;
}
.header .btn button{
    width: 80px;
    border: none;
    border-radius:30px;
    border-color: #6ee7b7;
    height: 30px;
    background-color: #047857;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.project{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:#ecfdf5;
    grid-row: 2/4;
    gap: 25px;
    overflow:auto;
}
.project .Allcard{
    grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    position: relative;
    margin: 30px;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    grid-row: 1/3;
    gap: 30px;
}
.project .Allcard .card{
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: max(270px,45%);
    height: 200px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 5px 1px 18px 0px #232323; 
    box-shadow: 5px 1px 18px 0px #232323;
}
.project .Allcard .card .bar{
    position: absolute;
    left: 0;
    top: 0;
    background-color: #047857;
    width: 10px;
    height: 200px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.project .Allcard .card div:nth-child(2){
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.project .Allcard .card div:nth-child(2) h3{
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
}
.project .Allcard h2{
    position: absolute;
    top: -60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.project .announce{
    margin: 0px;
    margin-top: 70px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
}
.project .announce h2{
    position: absolute;
    top:-60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.project .announce .allpart{
    border-radius: 10px;
    -webkit-box-shadow: 5px 1px 18px 0px #232323; 
    box-shadow: 5px 1px 18px 0px #232323;
    background-color: white;
    padding: 5px;
    display: grid;
    grid-column: span 3;
    grid-row: span 4;
    width: max(200px,45%)
}
.project .announce .allpart .part p{
    margin: 0;
    padding: 5px;
}
.project .announce .allpart .part h3{
    margin: 0;
    padding: 0px;
}
.project .announce:nth-child(3){
    margin: 0px;
    margin-top: 30px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,70px);
    grid-template-rows: repeat(5,1fr);
}
.project .announce .allpart2{
    border-radius: 10px;
    -webkit-box-shadow: 5px 1px 18px 0px #232323; 
    box-shadow: 5px 1px 18px 0px #232323;
    background-color: white;
    padding: 5px;
    display: grid;
    grid-column: span 3;
    grid-row: span 4;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    width: max(200px,45%)
}
.project .announce .allpart2 .friends{
    grid-column: 2/3;
    display: grid;
    justify-content: center;
    align-items: center;
}
.project .announce .allpart2 .friends h3{

    margin: 0;
    padding: 0px;
}
.project .announce .allpart2 .friends p{
    margin: 0;
    padding: 0px;
}
.project .announce .allpart2 .friends h3{
    margin: 0;
    padding: 0px;
}
.project .announce .allpart2 .pict{
    background-color: #232323;
    border-radius: 100%;
    height: 50px;
    width:  50px;
    margin: 0;
    padding: 0px;
    align-self: center;
    justify-self: center;
}